/* NEW EDITED CSS */

@font-face {
	font-family: "DM Sans";
	src: url(DMSans-Regular.ttf);
}

@font-face {
	font-family: "Metropolis";
	src: url(Metropolis-RegularItalic.otf);
}

html, body {
	background-color: rgb(245,245,245);
	background-size: 100px 100px;
	font-family: "DM Sans";
}

section:first-of-type {
	background-color: white;
}

section div.jumbotron {
	background-image: url(Epizy/img/undraw_fast_car_p4cu.png);
	background-repeat: no-repeat;
}

div.jumbotron {
	background: white;
}

header {
	z-index: 100;
	background-color: white;
	box-shadow: 0 1px 10px #8a959e27;
	padding: 10px 0 !important;
}

.app-form-group {
	background-color: transparent !important;
}

.dropdown .dropdown-menu ul {
	border-radius: 0 !important;
}

li.dropdown ul.dropdown-menu {
	border-radius: 10px !important;
	border: none;
	padding: 10px !important;
}

.dropdown-menu {
	border-radius: 15px !important;
}

.dropdown-menu a {
	padding: 10px 15px !important;
}

.dropdown-menu a:first-child {
	border-radius: 15px 15px 0 0;
}

.dropdown-menu a:last-child {
	border-radius: 0 0 15px 15px;
}

.dropdown-menu a {
	border-bottom: 0.2px solid rgb(54, 54, 54, 0.1);
}

.dropdown-menu a:last-child {
	border-bottom: none;
}

.dropdown-item:hover {
	color: #ffffff;
	background-color: #007BFF;
	cursor: pointer;
}

.px-sm-5 > .display-4 {
	text-transform: capitalize !important;
	font-weight: bold;
}

.jumbotron .container > .px-sm-5 {
	text-align: center;
}

.navbar li > a {
	background-color: white;
	letter-spacing: 3px;
	color: #333333;
}

li > a:hover {
	color: #3772FF !important;
}

li.dropdown button {
	border: 0;
}

li.dropdown button:focus {
	color: #3772FF;
}

.btn span {
	margin-right: 10px !important;
}

.btn-secondary {
	background-color: #3772FF;
	border-radius: 30px !important;
	padding: 5px 20px;
	margin: 0 5px;
}

.btn-secondary:first-child{
	margin-left: 0 !important;
}

.jumbotron > p {
	text-align: center;
}

.jumbotron > p:nth-last-child(2) {
	padding-bottom: 25px !important;
}

.app-vehicles-header-progress {
	box-shadow: 0 30px 60px #8a959e27;
	border-radius: 25px;
	margin-bottom: 35px !important;
	background-color: white;
}

.app-vehicle > .py-2 {
	background-color: white;
	border: none !important;
	box-shadow: 0 30px 60px rgba(138, 149, 158, 0.1);
	margin-bottom: 20px !important;
	border-radius: 10px !important;
	padding: 30px !important;
}

.app-vehicle .py-2 .row .col-lg-6{
	align-self: center !important;
}

.app-setting-selected {
	background-color: white;
}

form {
	box-shadow: 0 30px 60px #8a959e27;
}

.app-partners {
	background-color: white;
	border-radius: 25px;
	margin-bottom: 50px;
}

section:nth-of-type(2) {
	background-color: white;
	padding-bottom: 50px;
}

.card:hover {
	cursor: pointer;
	box-shadow: 0 30px 60px #8a959e27;
}

.card .card-header{
	background-color: white;
}

footer {
	background-color: #3772FF;
	color: white;
}

footer a {
	color: white !important;
}

footer a i:hover {
	color: rgba(255, 255, 255);
	transform: scale(1.1);
    background: linear-gradient(15deg, #8a9fff 50%, transparent 50%);
}

.app-footer-secondary a:hover {
	border-bottom: 2px solid white;
}

.row div h2 {
	padding-bottom: 0 !important;
	margin-bottom: 16px !important;
	background-repeat: no-repeat;
	background-position-x: -50%;
}

.app-footer-primary > div h2::after {
	display: block;
	content: '';
	height: 10px;
	width: 100px;
	border-bottom: 2px solid white;
}

.fa-envelope-o + a:hover {
	color: white !important;
	border-bottom: 2px solid white;
}

.fa-phone + a:hover {
	color: white !important;
	border-bottom: 2px solid white;
}

/* MAIN CSS */
.app-vehicle-features {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
}

select:hover {
	cursor: pointer;
}
.app-setting-selected::after {
	position: absolute;
	right: 15px;
	top: 18px;
}

@media only screen and (min-width: 576px) {
	.app-vehicle-features, .app-vehicle-options {
		font-size: 0.8rem;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.app-vehicles-header {
		max-width: 80% !important;
	}
  
}
